.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; // Ocupa todo el espacio del main
  padding: 20px;
  box-sizing: border-box;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  
  mat-card-subtitle {
    margin-top: 8px;
    font-size: 0.9em;
  }
}

mat-card-content form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

button[mat-raised-button] {
  margin-top: 15px;
  padding: 10px 0;
  font-size: 1.1em;
}

.server-error {
  color: #f44336;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}