<div class="form-container">
  <mat-card>
    <mat-card-header>>
      <mat-card-title> Restablecer tu Contraseña</mat-card-title>
    </mat-card-header>
    @if (isError && !message.includes('caducado')) {
    <mat-error>
      {{ message }}
    </mat-error>S
    <mat-card-actions>
      <a mat-button routerLink="/forgot-password">Solicitar un nuevo enlace</a>
    </mat-card-actions>

    } @else {
    <mat-card-content>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label> Contraseña:</mat-label>
          <input matInput type="password" formControlName="newPassword">

          @if (resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched) {
          <mat-error>
            @if (resetForm.get('newPassword')?.errors?.['required']) {
            La contraseña es obligatoria.
            }
            @if (resetForm.get('newPassword')?.errors?.['pattern']) {
            Debe incluir mayúscula, minúscula, número y caracter especial ($@!%*?&).
            }
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">  
          <mat-label> Nueva Contraseña:</mat-label>
          <input matInput  type="password" formControlName="confirmPassword">

          @if (resetForm.errors?.['passwordMismatch'] && resetForm.get('confirmPassword')?.dirty) {
          <mat-error>Las contraseñas no coinciden.</mat-error>
          }

        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="resetForm.invalid">
          Actualizar Contraseña
        </button>



        @if (message) {
        <div [style.color]="isError ? 'red' : 'green'" style="margin-top: 20px;">
          {{ message }}
        </div>
        }

        
      </form>
    </mat-card-content>
    }

  </mat-card>
</div>