.numpad-grid-popup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 180px; 
  background: white;
  
  // Botones de números
  button[mat-stroked-button] {
    min-width: 60px; 
    height: 60px;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: 1px solid #f0f0f0; // Bordes suaves
  }

  // Contenedor del botón "X"
  .numpad-clear-wrapper {
    grid-column: 1 / 4; // Ocupa las 3 columnas
    
    // ¡Usa Flexbox para centrar el botón circular!
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; // Altura de la fila
    border-top: 1px solid #eee;
  }

  // El botón "X" (mat-fab)
  button[mat-fab] {
    // Más pequeño que la fila para que "flote"
    width: 45px; 
    height: 45px;
  }
}