.numpad-grid-popup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 180px; // Un poco más grande para botones más cómodos
  
  button {
    min-width: 60px; // 180 / 3
    height: 60px;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-color: #eee; // Un borde suave
  }

  .numpad-clear-popup {
    // ¡EL ARREGLO DEL CENTRADO!
    // Le dice al botón que ocupe desde la columna 1 a la 4 (es decir, 3 columnas)
    grid-column: 1 / 4; 
    border-top: 1px solid #ccc; // Separa el botón de borrar
  }
}