<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Restablecer tu Contraseña</mat-card-title>
    </mat-card-header>
    
    @if (isError && !message.includes('caducado')) {
      <div class="error-banner">
        <mat-icon>error_outline</mat-icon>
        <span>{{ message }}</span>
      </div>
      <mat-card-actions>
        <a mat-button routerLink="/forgot-password">Solicitar un nuevo enlace</a>
      </mat-card-actions>
    } @else {
      <mat-card-content>
        <!-- Banner de éxito o error general -->
        @if (message) {
          <div [class]="isError ? 'error-banner' : 'success-banner'" style="margin-bottom: 20px;">
            <mat-icon>{{ isError ? 'error_outline' : 'check_circle' }}</mat-icon>
            <span>{{ message }}</span>
          </div>
        }

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label> Nueva Contraseña:</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword">
            
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            @if (resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched) {
              <mat-error>
                @if (resetForm.get('newPassword')?.errors?.['required']) {
                  La contraseña es obligatoria.
                }
                @if (resetForm.get('newPassword')?.errors?.['pattern']) {
                  Debe incluir mayúscula, minúscula, número y caracter especial ($@!%*?&).
                }
              </mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill">  
            <mat-label> Confirmar Contraseña:</mat-label>
            <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword">
            
            <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" type="button">
              <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            @if (resetForm.errors?.['passwordMismatch'] && resetForm.get('confirmPassword')?.dirty) {
              <mat-error>Las contraseñas no coinciden.</mat-error>
            }
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
            Actualizar Contraseña
          </button>
        </form>
      </mat-card-content>
    }
  </mat-card>
</div>