<div class="home-container">
  <!--Añade el display del usuario en la esquina.-->
  @if (userEmail$ | async; as email) {
  <div class="user-display">
    <mat-icon>account_circle</mat-icon>
    <span>{{ email }}</span>
  </div>
  }

  <mat-form-field class="game-selector">
    <mat-label>Elegir un juego</mat-label>
    <mat-select (selectionChange)="jumpToGame($event.value)">
      @for (game of games; track game.id; let i = $index) {
      <mat-option [value]="i">{{ game.title }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="game-swiper-container">
    <div class="game-swiper-track" [style.transform]="'translateX(' + (-currentIndex * 100) + '%)'">

      @for (game of games; track game.id) {
      <div class="game-card" [style.background-image]="game.imageUrl" (click)="selectGame(game)">
        <h3>{{ game.title }}</h3>
        <p>{{ game.description }}</p>

        <div class="play-button"> <mat-icon>play_circle_filled</mat-icon>
        </div>
      </div>
      }
    </div>
  </div>

  <div class="swiper-controls">
    <button mat-icon-button (click)="prevGame()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button mat-icon-button (click)="nextGame()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

</div>