.lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.welcome-message {
  font-size: 1.1em;
  color: #555;
  margin-bottom: 20px;
}

.game-card {
  width: 100%;
  max-width: 500px;
}

.mode-section {
  padding: 10px 0;
  
  p {
    font-size: 0.9em;
    color: #333;
  }
}

.full-width-button {
  width: 100%;
  padding: 15px 0 !important;
  font-size: 1.1em;
}

.difficulty-row {
  display: flex;
  justify-content: space-around; // Espacio uniforme
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 20px 0;
}