@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// --- REGLAS DE ORO PARA APP NATIVA ---
html, body {
  height: 100%;       // Ocupa todo el alto
  width: 100%;        // Ocupa todo el ancho
  margin: 0;          // Sin márgenes
  padding: 0;         // Sin relleno
  overflow: hidden;   // ¡ESTO ES CLAVE! Prohíbe el scroll en la ventana del navegador
  
  font-family: Roboto, "Helvetica Neue", sans-serif;
 // CAMBIO: Un fondo con un degradado radial sutil para dar profundidad en PC
  background: radial-gradient(circle at center, #ffffff 0%, #e6e9ef 100%);
  color: var(--mat-sys-on-surface);
  
  
  // Prevenir rebote elástico en iOS
  overscroll-behavior: none; 
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-content-area {
  flex-grow: 1;
  overflow: hidden; // Aseguramos que el contenido principal tampoco desborde por defecto
  position: relative;
  display: flex;    // Para que los hijos ocupen el 100%
  flex-direction: column;
}

// Fix para inputs en iOS
input, textarea, select {
  font-size: 16px;
}

// --- ESCUDO DE ORIENTACIÓN (SOLO MÓVILES) ---
// Se activa si la orientación es landscape Y la altura es menor a 500px
@media (orientation: landscape) and (max-height: 500px) {
  
  // 1. Ocultamos la app real
  app-root {
    display: none !important;
  }

  // 2. Mostramos el mensaje de aviso
  body::after {
    content: "📱 Por favor, gira tu dispositivo a vertical para jugar mejor.";
    white-space: pre-wrap; // Permite saltos de línea
    
    position: fixed;
    top: 0; left: 0; width: 100vw; height: 100vh;
    background-color: #333;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    padding: 20px;
    z-index: 99999;
  }
}