<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <!-- Nuevo diseño de error (Banner limpio) -->
      @if (serverError) {
        <div class="error-banner">
          <mat-icon>error_outline</mat-icon>
          <span>{{ serverError }}</span>
        </div>
      }

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Email:</mat-label>
          <input matInput type="email" formControlName="email" placeholder="tu@email.com">
          @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
            <mat-error>Por favor, introduce un email válido.</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña:</mat-label>
          <!-- El type cambia dinámicamente -->
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          
          <!-- Botón del ojito -->
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
            <mat-error>La contraseña es obligatoria.</mat-error>
          }
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>

    <mat-card-actions>
      @if (isNotVerifiedError) {
        <button mat-button (click)="onResendCode()">Reenviar código</button>
        <button mat-button (click)="goToVerification()">Usar código</button>
      } @else {
        <a mat-button routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
        <a mat-button routerLink="/register">Crear una cuenta</a>
      }
    </mat-card-actions>
  </mat-card>
</div>