.scoreboard-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto; // Centra
}

h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.date-span {
  margin-left: 20px;
  font-style: italic;
  color: #777;
}

