<div class="form-container">
  <mat-card>
  <mat-card-header>
    <mat-card-title>Recuperar Contraseña</mat-card-title>
    <mat-card-subtitle>
    Escribe tu email y te enviaremos un enlace
    para resetear tu contraseña.
    </mat-card-subtitle>
  </mat-card-header>
  
    
  


<mat-card-content>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput type="email" formControlName="email" placeholder="tu@email.com">

      @if (forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched) {
      <mat-error> Por favor, introduce un email válido.</mat-error>
      }
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="forgotForm.invalid">
      Enviar Enlace
    </button>
  </form>
</mat-card-content>
@if (message) {
<mat-card-content>
  {{ message }}
</mat-card-content>
}


<hr>
<mat-card-actions>
<a mat-button routerLink="/login">Volver a Iniciar Sesión</a>
</mat-card-actions>
</mat-card>
</div>