.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

mat-card {
  width: 100%;
  max-width: 400px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.server-error {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}